/*===== FONTES DO GOOGLE =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*===== VARIÁVEIS CSS =====*/
:root {
  --altura-cabecalho: 3rem;
  
  /*========== Cores ==========*/
  --cor-titulo: #0B0A0A;
  --cor-texto: #403A3A;
  --cor-texto-claro: #707070;
  --cor-container: #FAFAFA;
  --cor-container-alt: #F0EFEF;
  --cor-corpo: #FCFCFC;

  /*========== Fonte e tipografia ==========*/
  --fonte-corpo: 'Poppins', sans-serif;
  --tamanho-fonte-h1: 1.5rem;
  --tamanho-fonte-h2: 1.25rem;
  --tamanho-fonte-h3: 1rem;
  --tamanho-fonte-normal: .938rem;
  --tamanho-fonte-pequeno: .875rem;
  --tamanho-fonte-menor: .813rem;

  /*========== Peso da fonte ==========*/
  --peso-fonte-media: 500;
  --peso-fonte-semi-bold: 600;

  /*========== Margens ==========*/
  --margem-baixo-1: .5rem;
  --margem-baixo-2: 1rem;
  --margem-baixo-3: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixo: 100;
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

/*========== Variáveis do tema escuro ==========*/
body.tema-escuro{
  --cor-titulo: #f2f2f2;
  --cor-texto: #BFBFBF;
  --cor-container: #212121;
  --cor-container-alt: #181616;
  --cor-corpo: #2B2B2B;
}

/*========== Botão Mudar Tema ==========*/
.mudar-tema{
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: flex;
  color: var(--cor-texto);
  font-size: 1.2rem;
  cursor: pointer;
}

.mudar-tema:hover{
  color: var(--cor-titulo);
}

/*========== Variáveis de tamanho de fonte para redimensionar CV ==========*/
body.redimensionar-cv{
  --tamanho-fonte-h1: .938rem;
  --tamanho-fonte-h2: .938rem;
  --tamanho-fonte-h3: .875rem;
  --tamanho-fonte-normal: .813rem;
  --tamanho-fonte-pequeno: .75rem;
  --tamanho-fonte-menor: .688rem;
}

/*========== Botão Gerar PDF ==========*/
.gerar-pdf{
 display: none;
 position: absolute;
 top: 2.2rem;
 left: 0;
 font-size: 1.2rem;
 color: var(--cor-texto);
 cursor: pointer;
}

.gerar-pdf:hover{
  color: var(--cor-titulo);
}

/*========== Classes modificadas para reduzir o tamanho e imprimir na folha A4 ==========*/
.redimensionar-cv .mudar-tema,
.redimensionar-cv .gerar-pdf{
  display: none;
}

.redimensionar-cv .bd-container{
  max-width: 595px;
}

.redimensionar-cv .secao{
  padding: 1.5rem 0 .88rem;
}

.redimensionar-cv .titulo-secao{
  margin-bottom: .75rem;
}

.redimensionar-cv .resume__left,
.redimensionar-cv  .resume__right{
  padding: 0 1rem;
}

.redimensionar-cv .home__img{
  width: 90px;
  height: 90px;
}

.redimensionar-cv .home__container{
  gap: 1.5rem;
}

.redimensionar-cv .home__data{
  gap: .25rem;
}

.redimensionar-cv .home__address,
.redimensionar-cv .social__container{
  gap: .75rem;
}

.redimensionar-cv .home__ico,
.redimensionar-cv .social__icon,
.redimensionar-cv .interests__icon{
  font-size: 1rem;
}

.redimensionar-cv .education__container,
.redimensionar-cv .experience__container,
.redimensionar-cv .certificate__container{
  gap: 1rem;
}

.redimensionar-cv .education__time,
.redimensionar-cv .experience__time{
  padding-right: .5rem;
}

.redimensionar-cv .education__rounder,
.redimensionar-cv .experience__rounder{
  width: 11px;
  height: 11px;
  margin-top: .22rem;
}

.redimensionar-cv .education__line,
.redimensionar-cv .experience__line{
  width: 1px;
  height: 110%;
  transform: translate(5px, 0);
}

.redimensionar-cv .education__data,
.redimensionar-cv .experience__data{
  gap: .25rem;
}

.redimensionar-cv .skills__name{
  margin-bottom: var(--margem-baixo-1);
}

.redimensionar-cv .interests__container{
  column-gap: 2.5rem;
}

body{
  margin: 0 0 var(--altura-cabecalho) 0;
  padding: 0;
  font-family: var(--fonte-corpo);
  font-size: var(--tamanho-fonte-normal);
  background-color: var(--cor-corpo);
  color: var(--cor-texto);
}

h1,h2,h3,ul,p{
  margin: 0;
}

h1,h2,h3{
  color: var(--cor-titulo);
  font-weight: var(--peso-fonte-media);
}

ul{
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

/*========== CLASSES CSS ==========*/
.secao{
  padding: 1.5rem 0;
}

.titulo-secao{
  font-size: var(--tamanho-fonte-h2);
  color: var(--cor-titulo);
  font-weight: var(--peso-fonte-semi-bold);
  text-transform: uppercase;
  letter-spacing: .35rem;
  text-align: center;
  margin-bottom: var(--margem-baixo-3);
}

/*========== LAYOUT ==========*/
.bd-container{
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--margem-baixo-3);
  margin-right: var(--margem-baixo-3);
}

.bd-grid{
  display: grid;
  gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixo);
  background-color: var(--cor-corpo);
  box-shadow: 0 -1px 4px rgba(0,0,0, .1);
  transition: .3s;
}

/*========== NAV ==========*/
.nav{
  height: var(--altura-cabecalho);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 968px){
  .nav__menu{
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--cor-corpo);
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixo);
    transition: .3s;
  }
}

.nav__logo,
.nav__toggle{
  color: var(--cor-titulo);
  font-weight: var(--peso-fonte-media);
}

.nav__toggle{
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__item{
  text-align: center;
}

.nav__list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link{
  display: flex;
  flex-direction: column;
  font-size: var(--tamanho-fonte-pequeno);
  color: var(--cor-texto-claro);
  font-weight: var(--peso-fonte-media);
}

.nav__link::hover{
  color: var(--cor-titulo)
}

.nav__icon{
  font-size: 1.2rem;
  margin-bottom: var(--margem-baixo-1);
}


/* Mostrar menu */

.mostrar-menu{
  bottom: var(--altura-cabecalho);
}


/* Link de menu ativo */

.link-ativo{
  color: var(--cor-titulo);
}


/*========== HOME ==========*/
.home{
  position: relative;
}

.home__container{
  gap: 3rem;
}

.home__data{
  gap: 0.5rem;
  text-align: center;
}

.home__img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--margem-baixo-1);
}

.home__titulo{
  font-size: var(--tamanho-fonte-h1);
}

.home__profissao{
  font-size: var(--tamanho-fonte-normal);
  margin-bottom: var(--margem-baixo-1);
}

.home__endereco{
  gap: 1rem;
}

.home__informacao{
  display: flex;
  align-items: center;
  font-size: var(--tamanho-fonte-pequeno);
}

.home__ico{
  font-size: 1.2rem;
  margin-right: .25rem;
}

.home__botao-movil{
  display: inline-block;
  border: 2px solid var(--cor-texto);
  color: var(--cor-titulo);
  padding: 1rem 2rem;
  border-radius: .25rem;
  transition: .3s;
  font-weight: var(--peso-fonte-media);
  margin-top: var(--margem-baixo-3);
}

.home__botao-movil:hover{
  background-color: var(--cor-texto);
  color: var(--cor-container);
}

/*========== SOCIAL ==========*/
.social__container{
  grid-template-columns: max-content;
  gap: 1rem;
}

.social__link{
  display: inline-flex;
  align-items: center;
  font-size: var(--tamanho-fonte-pequeno);
  color: var(--cor-texto);
}

.social__link:hover{
  color: var(--cor-titulo);
}

.social__icon{
  font-size: 1.2rem;
  margin-right: .25rem;
}

/*========== PERFIL ==========*/
.perfil__descricao{
  text-align: center;
}

/*========== EDUCAÇÃO E EXPERIÊNCIA ==========*/
.educacao__conteudo,
.experiencia__conteudo{
  display: flex;
}

.educacao__tempo,
.experiencia__tempo{
  padding-right: 1rem;
}

.educacao__redondo,
.experiencia__redondo{
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--cor-texto-claro);
  border-radius: 50%;
  margin-top: .25rem;
}

.educacao__linha,
.experiencia__linha{
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--cor-texto-claro);
  transform: translate(7px, 0);
}

.educacao__dados,
.experiencia__dados{
  gap: .5rem;
}

.educacao__titulo,
.experiencia__titulo{
  font-size: var(--tamanho-fonte-h3);
}

.educacao__estudos,
.experiencia__empresa{
  font-size: var(--tamanho-fonte-pequeno);
  color: var(--cor-titulo);
}

.educacao__ano{
  font-size: var(--tamanho-fonte-menor);
}

/*========== HABILIDADES E IDIOMAS ==========*/
.habilidades__conteudo,
.idiomas__conteudo{
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.habilidades{
  text-align: center;
}

.idiomas__conteudo{
  gap: 0;
}

.habilidades__nome,
.idiomas__nome{
  display: flex;
  align-items: center;
  margin-bottom: var(--margem-baixo-3);
}

.habilidades__circulo,
.idiomas__circulo{
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--cor-texto);
  border-radius: 50%;
  margin-right: .75rem;
}

/*========== CERTIFICADOS ==========*/
.certificado__titulo{
  font-size: var(--tamanho-fonte-h3);
  margin-bottom: var(--margem-baixo-1);
}

/*========== REFERÊNCIAS ==========*/
.referencias__conteudo{
  gap: .25rem;
}

.referencias__subtitulo{
  color: var(--cor-texto-claro);
}

.referencias__subtitulo,
.referencias__contato{
  font-size: var(--tamanho-fonte-menor);
}

.referencias__titulo{
  font-size: var(--tamanho-fonte-h3);
}

/*========== INTERESSES ==========*/
.interesses__container{
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--margem-baixo-2);
}

.interesses__container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interesses__icon{
  font-size: 1.5rem;
  color: var(--cor-texto-claro);
  margin-bottom: .25rem;
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background-color: var(--cor-container-alt);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop__icon{
  font-size: 1.2rem;
  color: var(--cor-texto);
}

.mostrar-scroll{
  visibility: visible;
  bottom: 5rem;
}

/*========== MEDIA QUERIES ==========*/
/* Para dispositivos pequenos, menu com duas colunas */
@media screen and (max-width: 320px) {
  .nav__list{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem .5rem;
  }
}

/* Classes modificadas para telas grandes */
@media screen and (min-width: 968px) {
  body{
    margin: 3rem 0;
  }

  .bd-container{
    margin-right: auto;
    margin-left: auto;
  }

  .l-header,
  .scrolltop{
    display: grid;
    grid-template-columns: .5fr 1fr;
    background-color: var(--cor-container);
    box-shadow: 0 0 8px rgba(13,12,12,.15);
  }

  .resume__left{
    background-color: var(--cor-container-alt);
  }

  .resume__left,
  .resume__right{
    padding: 0 1.5rem;
  }

  .gerar-pdf{
    display: inline-block;
  }

  .titulo-secao,
  .perfil__descricao{
    text-align: initial;
  }

  .home__container{
    gap: 1.5rem;
  }

  .home__botao-movil{
    display: none;
  }

  .referencias__container{
    grid-template-columns: repeat(2, 1fr);
  }

  .idiomas__conteudo{
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }

  .interesses__container{
    grid-template-columns: repeat(4, max-content);
    column-gap: 3.5rem;
  }
}
